{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Josefino Blog</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Sixtyfour&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>
<body>
    <header> 
        <h1><a href="{% url 'home' %}">Django Blog</a></h1>
    </header>
    <section>
        <div>
            <a href="{% url 'post_new1' %}">New post</a>
        </div>
        <br>
        {% if user.is_authenticated %}
            <p>Hi {{ user.username }}!</p>
            <p><a href="{% url 'logout' %}">Log Out</a></p>
        {% else %}
            <p>No está autenticado</p>
            <a href="{% url 'login' %}">Log In</a>
            <a href="{% url 'signup' %}">Sign Up</a>

        {% endif %}
        <br>
        {% block content %}
        <!-- contenido propio -->
        {% endblock content %}
    </section>
</body>
</html>